body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  min-height: 464px;
}

.content {
  height: 82vh;
  width: 85vw;
  max-width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field_word {
  resize: none;
  border: none;
  width: 100%;
  height: 60%;
  color: #0a3871;
  font-size: 2rem;
  min-width: 220px;
}

.field_word::placeholder {
  color: #0a3871;
  font-size: 2rem;
}

.field_word:focus {
  outline: none;
}

.error_container {
  height: 50px;
  color: red;
  font-size: 1.3rem;
}

.rule, .exclamation {
  align-self: flex-start;
}

.exclamation {
  color: rgb(78, 78, 78);
  margin-right: 10px;
  margin-left: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: unset;
  max-width: unset;
}

.btn-primary,
.btn-secondary {
  border-radius: 20px;
  height: 60px;
  margin: 0 20px;
  width: 100%;
  cursor: pointer;
}

.btn-primary {
  background-color: #0a3871;
  color: white;
  border: none;
}

.btn-secondary {
  border: 1px solid #0a3871;
  color: #0a3871;
}


@media only screen and (min-width: 525px) {
  .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
