body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 48px;
  width: 32px;
  background-image: url("../img/logo.png");
  position: fixed;
  top: 10px;
  left: 10px;
}

.content {
  height: 82vh;
  width: 85vw;
  max-width: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.draw_container {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw {
  height: 223px;
  width: 250px;
  min-width: 250px;
  position: relative;
}

.floor {
  height: 3px;
  width: 100%;
  background-color: #0a3871;
  position: relative;
  top: 80%;
}

.gallows_v1 {
  height: 133px;
  width: 3px;
  position: relative;
  top: 19%;
  left: 20%;
  background-color: #0a3871;
}

.gallows_h1 {
  height: 3px;
  width: 115px;
  position: relative;
  top: -42%;
  left: 20%;
  background-color: #0a3871;
}

.gallows_v2 {
  height: 15px;
  width: 3px;
  position: relative;
  background-color: #0a3871;
  top: -43%;
  left: 65%;
}

.head {
  width: 25px;
  height: 25px;
  border: 3px solid #0a3871;
  border-radius: 50%;
  position: relative;
  top: -135%;
  left: 59%;
  visibility: hidden;
}

.left_arm {
  position: relative;
  background-color: #0a3871;
  width: 3px;
  height: 40px;
  transform: rotate(30deg);
  top: -31%;
  left: 61%;
  visibility: hidden;
}

.right_arm {
  position: relative;
  background-color: #0a3871;
  width: 3px;
  height: 40px;
  transform: rotate(-30deg);
  top: -49%;
  left: 69%;
  visibility: hidden;
}

.trunk {
  position: relative;
  background-color: #0a3871;
  width: 3px;
  height: 44px;
  top: -66%;
  left: 65%;
  visibility: hidden;
}

.left_leg {
  position: relative;
  background-color: #0a3871;
  width: 3px;
  height: 40px;
  transform: rotate(30deg);
  top: -68%;
  left: 61%;
  visibility: hidden;
}

.right_leg {
  position: relative;
  background-color: #0a3871;
  width: 3px;
  height: 40px;
  transform: rotate(-30deg);
  top: -86%;
  left: 69%;
  visibility: hidden;
}

.dica_container {
  color: #0a3871;
  font-size: 1.5rem;
}

.error_container {
  height: 50px;
  color: red;
  font-size: 1.5rem;
  margin-top: 4vh;
  margin-bottom: 10px;
}

.word {
  height: 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.past_letters {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(53, 53, 53);
  margin-top: 20px;
  height: 35px;
}

.past_letters p {
  margin-right: 15px;
}

.letter {
  height: 90%;
  width: 12%;
  max-width: 30px;
  border-bottom: 5px solid #0a3871;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3871;
  display: none;
}

.fake_input {
  border: none;
  color: transparent;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
}

.fake_input:focus {
  outline: none;
  caret-color: transparent;
  background-color: transparent;
}

.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: unset;
  max-width: unset;
  margin-top: -2vh;
}

.btn-primary,
.btn-secondary {
  border-radius: 20px;
  height: 60px;
  margin: 0 20px;
  width: 100%;
}

.btn-primary {
  background-color: #0a3871;
  color: white;
  border: none;
  margin-bottom: 10px;
  margin-top: 15px;
}

.btn-secondary {
  border: 1px solid #0a3871;
  color: #0a3871;
}

@media only screen and (max-height: 685px) {
  @media only screen and (max-width: 610px) {
    .logo {
      display: none;
    }
  }
}

@media only screen and (max-height: 425px) {
  .buttons {
    display: none;
  }

  .content  {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 650px) {
  .buttons {
    flex-direction: row;
  }
}

@media only screen and (min-width: 900px) {
  .draw {
    transform: scale(1.2);
  }
} 

@media only screen and (min-width: 1100px) {
  .draw {
    transform: scale(1.5);
  }
} 